.navigation{
    /* background-color: #353A40; */
    background: linear-gradient(180deg,#181a1c,#353a403a);
    padding: 1rem;
    
}
.navigation ul li a{
    color: #fff;
}
nav img{
        height:5rem; 
        background-color: transparent;
}
.navbar-brand{
    font-size: 2rem;
}
.image-text{
    background-image:url("../imgs/ba1.jpg"); 
    max-width: 100%;
    height: 63rem;
    filter: brightness(75%);
    margin-top: -7rem;
    z-index: 100;
    padding: 2rem;
    /* background-size: cover; */
}
.btn-header{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #29A744;
    color: #d8dff2;
}
.btn-outline-light{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
}
.navbar{
    z-index: 1;
}
.image{
    filter: brightness(50%);
    margin-top: -7rem;
    z-index: 100;
}
.texto-header{
    font-size: 1.5rem;
    font-weight: 600;
    /* border: rgb(227, 66, 66) 3px solid; */
    background-color: rgba(94, 92, 92, 0.55);
}
.card{
    max-width: 25rem; 
    margin: 0.5rem 1rem;
    padding: 0%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.col{
    padding-left: 1px;
    padding-right: 1px;
}
.btn-card-common{
    border-radius: 5px;
    padding: 0 0.1rem;
    margin: 0.2rem;
    font-weight: bold;
}
.btnAmarillo{
    background-color: #FFC207;
}
.btn-azul{
    background-color: rgb(23, 162, 185);
    color: aliceblue;
}
.btnGris{
    background-color: #6D737F;
    color: azure;
  }
  .btnRojo{
    background-color: #DC3546;
    color: azure;
  }

.btn-outline-light{
    margin-left: 1rem;
}
.mitad{
    background-color: #353A40;
    border: 1px solid black;
    margin: 1px;
    width: 100%;
  }
  .fondo {
    /* background-image: url("../imgs/honolulu.jpg");
    height: 37rem; */
    padding: 0%;
  }

  #ignite{
    text-decoration: underline dotted;
    font-size: 1.2rem;
}
  
  .medio{
      align-content: center;
  }
  form{
      width: 50%;
  }
  
  .btn-form {
    font-size: 1.5rem;
    padding: 0.4rem;
    color: #fff;
    background-color: #96C93E;
    border-color: #96C93E;
    border-width: 2px;
    border-radius: 7px;
    width: 100%;
}
.btn-form-ent{
    font-size: 1.5rem;
    padding: 0.4rem;
    color: #fff;
    background-color: #96C93E;
    border-color: #96C93E;
    border-width: 2px;
    border-radius: 7px;
     width: 100%; 
   /* margin: 1rem;*/
}
.btn-cate{
    border-color: #D5DBE0;
    border-width: 1px;
    border-radius: 5px;
    width: 100%; 
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
}
.pagar{
    font-size: 1.5rem;
    background-color: #CCE5FF;
    color:#346AA4;
    border-radius: 0.5rem;
}
  .footer{
      min-height: 7rem;
      height: auto;
      background-color: #1E4C66;
  }
  .nav-link {
    color: #fff;
    font-size: 1.5rem;

  }